@import "../../Styles/colors";
@import "../../Styles/mixins";
@import "../../Styles/typography";

.services {
   padding-top: 2rem;
   background-color: $color-background-primary;

   &__container {
      padding: 4rem;
      margin: auto;
      max-width: $body-max-width;
   }
}

.portfolio {
   display: flex;
   align-items: center;
   flex-direction: column;
   flex-basis: 100%;
   flex: 1;

   @include media(tab-lg) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }

   @include media(tab-lg-lan) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }

   &__item {
      height: 55rem;
      width: 100%;

      max-width: 55rem;
      margin-bottom: 2rem;

      padding: 2rem 1rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background: linear-gradient(180deg, $color-background-primary, $color-background-secondary);
      border-radius: 0.5rem;
      box-shadow: 5px blue;

      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

      @include media(tab-lg) {
         justify-content: flex-start;
         height: 53rem;
      }

      @include media(tab-lg-lan) {
         justify-content: flex-start;
      }

      &__icon {
         font-size: $portfolio-item-height / 5;
      }

      &__header {
         font-size: $portfolio-item-height / 20;
         text-transform: uppercase;
         font-weight: 600;
         text-align: center;
         &-sm {
            font-size: $portfolio-item-height / 30;
            padding-bottom: 0.5rem;
         }
      }

      &__hr {
         @include hrStyle(30%, 5rem);
         &-sm {
            @include hrStyle(20%, 2rem);
         }
      }

      &__text {
         font-size: 1.5rem;
         font-weight: 500;
      }

      &__list {
         list-style-type: none;
         text-align: center;
      }

      &__list-sm {
         list-style-type: none;
         text-align: center;
         margin-bottom: 1.5rem;
      }

      &:hover {
         filter: brightness(0.9);
         transform: scale(1.02);
         transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
   }
}
