@import "../../Styles/colors";
@import "../../Styles/mixins";
@import "../../Styles/typography";

.services {
  background-color: $color-background-primary;

  &__container {
    padding: 4rem;
    margin: auto;
    max-width: $body-max-width;
  }

  &__about-box {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0 4rem 0;
  }
}

.portfolio--heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__box {
    width: 1.5rem;
    height: 3rem;
    margin-right: 0.75rem;
    background-color: $color-primary;
  }

  &__hr {
    max-width: 40%;
    margin: auto;

    @include media(mob-lg) {
      max-width: 45%;
    }

    @include media(tab-lg) {
      max-width: 20%;
    }
  }
}

.portfolio {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  @include media(mob-lg) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__item {
    width: 40rem;
    height: $portfolio-item-height;
    background: linear-gradient(
      180deg,
      $color-background-primary,
      $color-background-secondary
    );
    border-radius: 1rem;
    box-shadow: 5px blue;
    margin: 1.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &__icon {
      padding: 2rem;
      font-size: $portfolio-item-height / 5;
    }

    &__header {
      font-size: $portfolio-item-height / 20;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }

    &__hr {
      width: 70%;
      margin: 1.5rem 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      list-style-type: none;

      li {
        padding: 0.5rem;
        font-size: 1.5rem;
      }
    }

    &:hover {
      filter: brightness(0.9);
      transform: scale(1.01);
      transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
}

.portfolio-hash {
  height: 2rem;
}
