@import "../../Styles/colors";
@import "../../Styles/animations";
@import "../../Styles/mixins";
@import "../../Styles/typography";

.landing {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   width: 100%;
   background-image: url(../Images/prague.jpeg);
   background-size: cover;
   background-position: 0 0;
   background-repeat: no-repeat;
   position: relative;

   &__hr {
      max-width: 60%;
      margin: $hr-margin-sm;

      @include media(mob-lg) {
         max-width: 40%;
      }

      @include media(tab-lg) {
         max-width: 20%;
      }
   }

   &__text-box {
      position: absolute;
      max-width: $body-max-width / 1.5;
      border-radius: 0.5rem;
      width: 90%;
      top: 17%;
      text-align: center;
      padding: 1.25rem;
      background-color: transparent;
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      animation: appear 1s ease-in-out;
      color: white;

      @include media(mob-lg) {
         top: 20%;
      }

      &__item {
         font-weight: 600;
         font-size: 1.75rem;

         @include media(mob-sm) {
            font-size: 2.25rem;
         }

         @include media(mob-med) {
            font-size: 2.75rem;
         }

         @include media(mob-lg) {
            font-size: 3rem;
         }

         @include media(tab-lg) {
            font-size: 4rem;
         }

         @include media(tab-lg-lan) {
            font-size: 4rem;
         }
      }
   }

   &__scrolldown {
      position: absolute;
      bottom: 5%;
      padding: 1rem;
      animation: appear 1s ease-in-out;

      &__mouse {
         display: block;
         cursor: pointer;

         height: 4rem;
         width: 2rem;
         border-radius: 2rem;
         border: 2px solid white;

         &__wheel {
            height: 0.5rem;
            width: 0.4rem;
            margin: 0.35rem auto;
            background: white;
            position: relative;

            border: 0.1rem solid #fff;
            -webkit-border-radius: 0.5rem;
            border-radius: 0.5rem;

            -webkit-animation: scrollDown 2s infinite;
            -moz-animation: scrollDown 2s infinite;
            animation: scrollDown 2s infinite;
         }
      }
   }
}

@-webkit-keyframes scrollDown {
   0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
   }
   40% {
      opacity: 1;
   }
   80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
   }
   100% {
      opacity: 0;
   }
}
@keyframes scrollDown {
   0% {
      transform: translate(0, 0);
      opacity: 0;
   }
   40% {
      opacity: 1;
   }
   80% {
      transform: translate(0, 20px);
      opacity: 0;
   }
   100% {
      opacity: 0;
   }
}
