@import "../../Styles/colors";
@import "../../Styles/mixins";
@import "../../Styles/typography";

.contact-form {
   padding: $body-component-padding;
   width: 100%;
   max-width: $body-max-width;

   &__heading {
      margin-top: 2rem;
      padding-top: 3rem;
      font-size: $font-size-heading * 0.85;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @include media(mob-lg) {
         font-size: $font-size-heading;
      }

      &-box {
         width: 1.5rem;
         height: $font-size-heading * 0.85;
         margin-right: 0.75rem;
         background-color: $color-primary;
      }
      &-hr {
         width: $hr-width;
         max-width: 40%;
         margin: $hr-margin-lg;
         @include media(mob-lg) {
            max-width: 45%;
         }
         @include media(tab-lg) {
            max-width: 20%;
         }
      }
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__input {
      width: 100%;
      position: relative;
      font-size: 1.75rem;
      font-family: $font-primary;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &__textarea {
         align-items: flex-start;
      }

      &__icon {
         position: absolute;
         margin-left: 1rem;
         color: $color-form-icon;
         line-height: 3rem;

         &__textarea {
            padding-top: 0.25rem;
         }
      }

      &__field {
         line-height: 3rem;
         width: 100%;
         padding-left: 4rem;
         outline: none;
         width: 100%;
         box-shadow: 0.5rem 0.2rem 1rem rgba($color-secondary, 1);
         font-size: 1.75rem;
         border: 0.25rem $color-primary solid;
         border-radius: 0.75rem;
         transition: all 0.2s ease-in-out;

         &:focus {
            background-color: $color-secondary;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
         }

         &--textarea {
            font-family: $font-primary;
            font-size: 1.75rem;
         }
      }
   }

   &__errorMessage {
      color: $color-primary;
      color: rgb(236, 59, 59);
      font-size: 1.25rem;
      font-weight: 700;
      margin: -0.2rem;
      padding: 0.25rem;

      &--ok {
         color: transparent;
         font-size: 1rem;
         font-weight: 700;
         margin: -0.2rem;
      }
   }

   &__toast {
      margin-top: $toolbar-height;
      background-color: $color-success !important;
      color: $color-secondary !important;

      @include media(mob-lg) {
         width: 17rem;
      }
   }
}

.btn--submit {
   display: inline-block;
   text-transform: uppercase;
   text-decoration: none;
   border-radius: 2rem;
   align-self: center;
   font-size: 1.25rem;
   margin: 3rem auto 4rem;
   padding: 1.25rem 2rem;
   background-color: $color-primary;
   color: $color-secondary;
   font-weight: 500;
   box-shadow: 1rem 1rem 3rem rgba(black, 0.45);
   transition: all 0.25s ease-in-out;
   -webkit-appearance: none;

   &:hover {
      transform: translateY(0.15rem);
      box-shadow: 0.75rem 0.75rem 1.75rem rgba(black, 0.45);
      background-color: darken($color-primary, 10%);
   }

   &:active {
      transform: translateY(0.25rem);
      box-shadow: 0.6rem 0.6rem 1.75rem rgba(black, 0.45);
      outline: none;
   }
}

.Toastify__toast-container--top-right {
   right: -10rem !important;
}
