$color-primary: rgb(218, 29, 85);
$color-secondary: rgb(226, 235, 227);
$color-tertiary: rgb(211, 160, 64);
$color-form-icon: rgb(82, 80, 80);
$color-success: rgb(55, 194, 55);

// Backgrounds
$color-background-main: rgb(243, 240, 236);
$color-background-portfolio-item: rgb(250, 248, 248);

$background: blue;
