$color-text: black;
$color-primary: rgb(218, 29, 85);
$color-secondary: rgb(226, 235, 227);
$color-tertiary: rgb(211, 160, 64);
$color-form-icon: rgb(82, 80, 80);
$color-success: rgb(55, 194, 55);

// Backgrounds
$color-background-primary: rgba(226, 226, 226, 0.7);
$color-background-secondary: rgba(243, 240, 236, 0.7);

$color-background-portfolio-item: rgba(195, 187, 187, 0.8);

$background: blue;
