@import "../../Styles/colors";
@import "../../Styles/typography";
@import "../../Styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
.toolbar {
   z-index: 100;
   width: 100%;
   height: var(--toolbar-height);
   position: fixed;
   top: 0;
   left: 0;
   background: transparent;
   transition: ease-in-out 0.5s;

   &-dark {
      background: $color-primary;
      box-shadow: 0 4px 4px -3px black;
      transition: ease-in-out 0.5s;
   }

   &-scroll {
      background: $color-primary;
      box-shadow: 0 4px 4px -3px black;
      transition: ease-in-out 0.5s;
   }

   &__navigation {
      margin: auto;
      width: 100%;
      max-width: var(--max-body-width);
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1.5rem;
   }

   &__logo {
      margin-left: -0.5rem;
      &__svg {
         display: block;
         height: var(--toolbar-logo-height);
         width: var(--toolbar-logo-height);
         transition: ease-in-out 0.5s;
      }
      &__g {
         fill: $color-secondary;
         &-scroll {
            fill: $color-secondary;
         }
      }
      &-link {
         max-height: var(--toolbar-height);
      }
   }
   &__navigation-items {
      font-size: var(--font-size-nav);

      ul {
         flex: 1 1 auto;
         list-style: none;
         margin: 0;
         padding: 0;
         display: flex;
      }

      li {
         padding: 0 1rem;
      }

      li:not(:first-child) {
         border-left: solid 1px $color-secondary;
      }

      a {
         position: relative;
         padding-bottom: 0.4rem;
         color: $color-secondary;
         text-decoration: none;
         font-weight: 500;
         transition: all $duration;
         &-scroll {
            color: $color-primary;
         }

         &:before,
         &:after {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 0;
            right: 0;
            height: 2.5px;
            background-color: $color-tertiary;
         }
         &:before {
            opacity: 0;
            transform: translateY(-$distance);
            transition: transform $duration $easeOutBack, opacity $duration;
            transition: all $duration;
         }
         &:after {
            opacity: 0;
            transform: translateY($distance/2);
            transition: transform $duration $easeOutBack, opacity $duration;
         }

         &:hover,
         &:focus {
            color: $color-tertiary;
            &:before,
            &:after {
               opacity: 1;
               transform: translateY(0);
            }
            &:before {
               transition: transform $duration $easeOutBack, opacity $duration;
            }
            &:after {
               transition: transform $duration $easeOutBack, opacity $duration;
            }
         }
      }
      @include media(tab-lg) {
         font-size: var(--font-size-nav);
      }

      @include media(tab-lg-lan) {
         font-size: var(--font-size-nav);
      }
   }
}

.spacer {
   flex: 1;
}

// .nav-underline {
//    padding-bottom: 0.4rem;
//    background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 3px no-repeat;
//    transition: 0.5s;
// }

@media (min-width: 769px) {
   .toolbar__toggle-button {
      display: none;
   }

   .toolbar__logo {
      margin-left: 1rem;
   }
}

@media (max-width: 768px) {
   .toolbar__navigation-items {
      display: none;
   }
   .toolbar__toggle-button {
      &-scroll {
         color: $color-primary;
      }
   }
}
