@import "../../Styles/colors";
@import "../../Styles/animations";
@import "../../Styles/mixins";
@import "../../Styles/typography";

.about {
   max-width: $body-max-width;
   margin: auto;
   height: 100%;
   width: 100%;
   padding: $body-component-padding;
   flex-direction: column;
   &__body-wrapper {
      padding: 1rem;
      display: flex;
      flex-direction: column;
   }
   &__body-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-self: left;
      &__box {
         width: 4rem;
         height: 0.25rem;
         margin: 4rem 0;
         background-color: $color-primary;
      }
      &-header {
         font-size: 1.75rem;
         font-weight: 500;
      }
      &-title {
         font-size: 1.5rem;
         font-weight: 500;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         padding-bottom: 2rem;
         span {
            font-weight: normal;
         }
         a {
            font-weight: normal;
            color: inherit;
            text-decoration: none;
            transition: all 0.3s ease;
            &:active,
            &:hover {
               color: $color-tertiary;
            }
         }
      }
   }
   &__body__our-team {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 1rem;
      @include media(mob-lg) {
         display: flex;
         flex-direction: row;
      }
      // &__img-wrapper {
      //    display: flex;
      //    flex-direction: column;
      //    width: 48%;
      // }
   }
}

.icon-wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-right: 1rem;
   &-icon {
      color: $color-primary;
      font-size: 3rem;
      &-top {
         position: absolute;
         color: $color-secondary;
         font-size: 1.5rem;
      }
   }
}

.top-padder {
   padding-top: $toolbar-height + 4rem;
}

.top-padder-sm {
   padding-top: 4rem;
}
