@import "../../Styles/colors";
@import "../../Styles/animations";
@import "../../Styles/mixins";
@import "../../Styles/typography";

.card {
   min-height: 15rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 0px 1px 1px $color-secondary;
   border-radius: 0.5rem;
   &__img {
      border-radius: 0.5rem 0.5rem 0 0;
      height: 60%;
      width: 100%;
   }
   &__text__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0.25rem;
   }
   &__title {
      font-size: 1.75rem;
      font-weight: 600;
      @include media(mob-med) {
         font-size: 2rem;
      }
   }
   &__subtitle {
      font-size: 1.5rem;
      padding-top: 0;
      @include media(mob-med) {
         font-size: 1.75rem;
      }
   }
   &__item__wrapper {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      @include media(mob-med) {
         font-size: 1.75rem;
      }
   }

   &__link {
      display: block;
      line-height: 100%;
      color: $color-text;
      font-weight: 400;
      font-size: inherit;
      text-decoration: none;
      transition: 0.5s ease;
      &:active,
      &:hover {
         color: $color-tertiary;
      }
   }
   &__text {
      padding: 0.25rem;
   }
}
