@import "../../Styles/colors";
@import "../../Styles/typography";
@import "../../Styles/mixins";

.contact {
   max-width: $body-max-width;
   margin: auto;
   height: 100%;
   width: 100%;
}

.contact-details {
   margin-bottom: 2rem;
}

.top-padder {
   padding-top: $toolbar-height + 4rem;
}
