@import "../../Styles/colors";
@import "../../Styles/typography";
@import "../../Styles/mixins";

.contact {
   margin: auto;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   &__wrapper {
      margin: auto;
      max-width: $body-max-width;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 5rem;

      @media only screen and (min-width: 1000px) {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
      }
   }
   &__item {
      width: 100%;
      @media only screen and (min-width: 1000px) {
         width: 50%;
      }
   }
}

.top-padder {
   padding-top: $toolbar-height + 4rem;
}

.map-wrapper {
   margin-top: 4rem;
   height: 50rem;
   width: 100%;
}
