@import "../../Styles/colors";
@import "../../Styles/mixins";
@import "../../Styles/typography";
.header {
   display: flex;
   flex-direction: column;
   &__text {
      font-size: $font-size-heading;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   &__text-box {
      width: $font-size-heading / 2;
      height: $font-size-heading;
      margin-right: $font-size-heading / 3;
      background-color: $color-primary;
   }
}

.header-sm {
   display: flex;
   flex-direction: row;
   &__text {
      font-size: $font-size-heading;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   &__text-box {
      width: $font-size-heading / 2;
      height: $font-size-heading;
      margin-right: $font-size-heading / 3;
      background-color: $color-primary;
   }
   &-hr {
      width: $hr-width;
      max-width: 40%;
      margin: $hr-margin-lg;
      @include media(mob-lg) {
         max-width: 45%;
      }
      @include media(tab-lg) {
         max-width: 20%;
      }
   }
}
