@import "../../Styles/colors";
@import "../../Styles/mixins";
@import "../../Styles/typography";

.contact-card {
   flex-direction: column;
   width: 100%;
   &__heading {
      font-size: 3rem;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &-box {
         width: 1.5rem;
         height: 3rem;
         margin-right: 0.75rem;
         background-color: $color-primary;
      }
      &-hr {
         width: $hr-width;
         max-width: 40%;
         margin: $hr-margin-lg;
         @include media(mob-lg) {
            max-width: 45%;
         }
         @include media(tab-lg) {
            max-width: 20%;
         }
      }
   }

   &__body-wrapper {
      display: flex;
      flex-direction: column;
   }

   &__body-content {
      padding: 2rem 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-self: left;
      @include media(tab-sm) {
         padding-left: 4rem;
      }

      &__box {
         width: 4rem;
         height: 0.25rem;
         margin: 4rem 0;
         background-color: $color-primary;
      }

      &-header {
         font-size: 1.75rem;
         font-weight: 500;
      }

      &-title {
         font-size: 1.5rem;
         font-weight: 500;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         padding-bottom: 2rem;
         span {
            font-weight: normal;
         }
         a {
            font-weight: normal;
            color: inherit;
            text-decoration: none;
            transition: all 0.3s ease;
            &:active,
            &:hover {
               color: $color-tertiary;
            }
         }
      }
   }
   &__body-map-wrapper {
      padding-top: 4rem;
      height: 40rem;
      width: 100%;
   }
}

.icon-wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-right: 1rem;
   // width: 2rem;
   &-icon {
      color: $color-primary;
      font-size: 3rem;
      &-top {
         position: absolute;
         color: $color-secondary;
         font-size: 1.5rem;
      }
   }
}
