.AnyClassForContainer {
  position: fixed;
  right: -10rem;
  bottom: 3rem;
  transition: right 0.5s;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
}

.AnyClassForTransition {
  right: 20px;
}
